.cb {
  border: solid;
  border-radius: 8px;
  margin: 0.1em;
  padding: 0.5em;
  text-align: left;
  font-size: calc(8px + 0.4vw);
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
}

.invisible {
  color: transparent;
}

.dragging {
  opacity: 0;
}

.player1 {
  border-color: #dd4932;
  background-color: #fcc6be;
}

.player1:hover {
  background-color: #ffe2de;
}

.player2 {
  border-color: #3c53cb;
  background-color: #c4ccf5;
}

.player2:hover {
  background-color: #e6eaff;
}

.player3 {
  border-color: #e88e28;
  background-color: #fbd392;
}

.player3:hover {
  background-color: #fcedd4;
}

.player4 {
  border-color: #2b6e38;
  background-color: #8bbe95;
}

.player4:hover {
  background-color: #cfe3d3;
}
