.Lobby {
  position: absolute;
  top: 20%;
  left: 42%;
}

.Lobby > h1 {
  margin-bottom: 2em;
}

.Lobby > div {
  margin-top: 4em;
}

.playerList > li {
  border: solid;
  border-radius: 8px;
  width: 7vw;
  margin: 0.5em;
  padding: 7px;
  text-align: left;
  font-size: 15px;
}
