.SideBarButton {
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  margin: 0.4vw;
  border-radius: 1vw;
  border-style: none;
  font-weight: bold;
  cursor: default;
  white-space: nowrap;
  font-size: calc(10px + 0.4vw);
}

.SideBarButton:hover {
  cursor: pointer;
}

.SideBarButton > div,
.SideBarButton > img {
  position: 'absolute';
  pointer-events: none;
  max-width: 100%;
  margin-top: 0.4vw;
  margin: 0.4vw 0.2vw 0.4vw;
}

.SideBarButton > div {
  padding-top: 0.3vw;
}

.SideBarButton > img {
  width: calc(12px + 0.8vw);
}

.SideBarButton:disabled {
  cursor: no-drop;
}
