.li {
  list-style-type: none;
  margin: 0.2em;
}

ul {
  margin: 0px;
  padding: 0px;
  display: contents;
}

.divHL {
  min-height: 7vw;
  min-width: 10vw;
  padding: 0.2em;
  border-radius: 0.5em;
}
