.cb {
  border: solid;
  border-radius: 8px;
  width: 7vw;
  margin: 2px;
  padding: 7px;
  text-align: left;
  font-size: 15px;
}

.invisible {
  color: transparent;
}

.dragging {
  /*opacity: 0;  TODO: visual bug where a block would not be visible 
  while drag was happening and a block was swapping position. 
  Removing this fixed it, but make sure it doesn't look weird on PC */
}

.variable {
  background-color: #c4ccf5;
}

.function {
  background-color: #fcc6be;
}

.loop {
  background-color: #fbd392;
}

.condition {
  background-color: #8bbe95;
}

.player1 {
  border-color: #dd4932;
}

.player2 {
  border-color: #3c53cb;
}

.player3 {
  border-color: #e88e28;
}

.player4 {
  border-color: #2b6e38;
}
