.cb {
  border: solid;
  border-radius: 8px;
  margin: 0.1em;
  padding: 0.5em;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  max-width: 15vw;
}

.invisible {
  color: transparent;
}

.dragging {
  opacity: 0;
}

.variable {
  background-color: #c4ccf5;
}

.variable:hover {
  background-color: #e6eaff;
}

.function {
  background-color: #fcc6be;
}

.function:hover {
  background-color: #ffe2de;
}

.loop {
  background-color: #fbd392;
}

.loop:hover {
  background-color: #fcedd4;
}

.condition {
  background-color: #8bbe95;
}

.condition:hover {
  background-color: #cfe3d3;
}

.player1 {
  border-color: #dd4932;
}

.player2 {
  border-color: #3c53cb;
}

.player3 {
  border-color: #e88e28;
}

.player4 {
  border-color: #2b6e38;
}
