.cb {
  border: solid;
  border-radius: 8px;
  max-width: 15vw;
  margin: 2px;
  padding: 7px;
  text-align: left;
  font-size: 15px;
}

.cb {
  cursor: pointer;
}

.invisible {
  color: transparent;
}

.dragging {
  opacity: 0;
}

.variable {
  background-color: #c4ccf5;
}

.function {
  background-color: #fcc6be;
}

.loop {
  background-color: #fbd392;
}

.condition {
  background-color: #8bbe95;
}

.variable:hover,
.function:hover,
.loop:hover,
.condition:hover {
  background-color: #c2c2c2;
}

.player1 {
  border-color: #dd4932;
}

.player2 {
  border-color: #3c53cb;
}

.player3 {
  border-color: #e88e28;
}

.player4 {
  border-color: #2b6e38;
}
