.Game {
  background-color: lightcoral;
  flex: 6;
  display: flex;
  flex-flow: row;
}

.GameLeft {
  display: flex;
  flex-flow: column;
  margin: 5vw;
  justify-content: space-between;
}

.GameCenter {
  flex: 2;
  display: flex;
  flex-flow: row;
  margin: 3vw;
}

.GameRight {
  display: flex;
  flex-flow: column;
  margin: 5vw;
  justify-content: space-between;
}
