.Game {
  background-color: lightcoral;
  font-size: 30px;
  flex: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: royalblue;
  justify-content: space-evenly;
  flex: 1;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: rgb(35, 218, 90);
  justify-content: space-evenly;
  flex: 1;
}

.middleContainer {
  flex: 2;
  border: solid;
  border-color: slateblue;
}
