.Game {
  background-color: lightcoral;
  flex: 100;
  display: flex;
  flex-flow: row;
}

.GameLeft {
  display: flex;
  flex-flow: column;
  margin: 5vw;
}

.GameRight {
  display: flex;
  flex-flow: column;
  margin: 5vw;
}
