.IndicatorContainer {
}

.Indicator {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  margin-bottom: -25px;
}

.smallPlayerIcon {
  position: relative;
  width: 25px;
  margin-right: -60px;
  margin-bottom: 10px;
  z-index: 10;
}
