.LineIndicatorContainer {
  position: absolute;
}

.LinePlayerIcons {
  position: relative;
  z-index: 1;
}

.LineIndicator {
  position: relative;
  margin-left: -100px;
  margin-top: -55px;
}

.LinesmallPlayerIcon {
  width: 20px;
  margin-left: -100px;
}
