.player {
  padding: 0.2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  max-width: 5vw;
}

.p2 {
  flex-direction: row-reverse;
}
.p4 {
  flex-direction: row-reverse;
}

.leftContainerPlayer {
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1em;
}

.leftRightPlayer {
  justify-content: flex-end;
  align-items: flex-start;
}

.player-1.name,
.player-2.name,
.player-3.name,
.player-4.name {
  font-size: 1vw;
  font-weight: bold;
  padding: 0.1vw;
  flex: 2;
  color: #636363;
}
