.SideBarButton {
  display: inline-flex;
  width: 7em;
  height: 3em;
  margin: 0.4em;
  border-radius: 1em;
  border-style: none;
  font-weight: bold;
  font-size: 1em;
}

button > div {
  position: 'absolute';
  padding-top: 0.7em;
  margin-left: 0.5em;
}

button > img {
  position: 'absolute';
  padding-top: 0.3em;
}
