.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.leftContainer {
  border-width: 5px;
  height: auto;
  width: 50%;
  background-color: #f5f5f5;
  padding: 5vh 3vw 3vw;
  justify-content: center;
}

.editor {
  min-height: 80%;
  background-color: rgb(251, 251, 251);
}

.cancelButton {
  background-color: #9d9d9d;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;

  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex: 1;
}

.saveButton {
  background-color: #58ba6a;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  flex: 1;
}

.saveButton:hover {
  background-color: #4ea55e;
}

.cancelButton:hover {
  background-color: #747474;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 50%;
  background-color: #677edb;
  padding: 5vh 3vw 3vw;
}

.rightContainerTop {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
  width: 80%;
  gap: 2vh;
}

.rightContainerBottom {
  flex: 1;
  width: 80%;
}

.textAreaContainer > div {
  flex: 0 0 50%;
  max-width: 100%;
}

.textAreaFlex {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5vh;
}

.textAreaFlex > textarea {
  flex: 1;
  font-size: 16px; /* TODO: Adaptive? */
  resize: none;
}

h3 {
  color: rgb(249, 249, 249);
}

.attemptsDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.attemptsDiv > input {
  max-width: 20%;
}

.checkboxDiv {
  display: flex;
  flex-direction: row;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
}

label {
  color: rgb(249, 249, 249);
}
