.lobbyContainer {
  display: flex;
  justify-content: center;
}

.Lobby {
  margin-top: 10em;
  width: 50em;
  height: 25em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}

.Lobby > h1 {
  margin-bottom: 2em;
  font-size: calc(20px + 0.4vw);
}

.playerList {
  display: flex;
}

.playerList > li {
  width: 8vw;
  margin: 0.5em;
  padding: 0.5vw;
  text-align: left;
  list-style: none;
  text-align: center;
  word-wrap: break-word;
}

.playerIcon {
  height: 5vw;
  object-fit: cover;
}
