.Lobby {
  margin-top: 10em;
  width: 50em;
  height: 25em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}

.Lobby > h1 {
  margin-bottom: 2em;
}

.playerList {
  display: flex;
}

.playerList > li {
  border-radius: 8px;
  width: 7vw;
  margin: 0.5em;
  padding: 7px;
  text-align: left;
  font-size: 15px;
  list-style: none;
}
