.correctItem,
.confirmButton {
  background: #8bbe95;
}

.confirmButton:hover {
  background: #c2c2c2;
}

.incorrectItem {
  background: #fcc6be;
}

.correctItem,
.incorrectItem {
  width: 15em;
  margin-top: 0.1em;
}

.modalContainer {
  text-align: center;
  margin-top: 2em;
}

.modalContainer > ul {
  margin-top: 3em;
  text-align: center;
  overflow: auto;
}

.modalContainer > button {
  border-style: none;
  width: 7em;
  height: 3em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1em;
  bottom: 2em;
  position: absolute;
}

.modalContainer > button:hover {
  cursor: pointer;
}

hr {
  position: absolute;
  margin-left: 0;
  border: none;
  border-top: 0.1em solid #c2c2c2;
}
