.correctItem {
  background: #8bbe95;
  width: 10em;
  margin: auto;
}

.incorrectItem {
  background: #fcc6be;
  width: 10em;
  margin: auto;
}

.modalContainer {
  text-align: center;
}
